body {
    padding-top: 10px;
    height: 100%;
    margin-bottom: 300px;

}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    margin-bottom: 20px;
    border: 0;
    border-radius: 0;
    background-color: #000;
}

.navbar a {
    color: white;
}

.nav > li > a:hover {
    background-color: inherit;
}

.input-navbar {
    margin-top: 13px;
    background-color: black;
    border: 1px solid white;
    margin-left: 40px;
}

.image-center {
    margin: 0 auto;
}

.meet-our-chef img {
    width: 150px;
}

.meet-text {
    margin-top: 20px;
    color: #808080;
}

.chef-name {
    color: #000000;
    margin-top: 20px;

}

.chef-skill {
    color: #f56e50;

}

.chefs {
    text-align: center;
    margin-top: 40px;
}

.chef-social-network {
    margin-top: 10px;
    color: #969696;
}
.chef-social-network span:hover{
    color: dodgerblue;
}

.reservation {
    margin-top: 100px;
}

#reservation-form {
    height: 521px;
    border: 1px solid black;
    background: url(../images/form.jpg) center center fixed no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
    display: table;
}

#reservation-form input[type=text] {
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid white;
    background-color: inherit;
}

#reservation-form textarea {
    border-radius: 0;
    border: 1px solid white;
    background-color: inherit;
}

#reservation-form input[type=text]::-webkit-input-placeholder {
    color: #fff;
}

#reservation-form input[type=text]::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
#reservation-form input[type=text]:-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
#reservation-form input[type=text]:-ms-input-placeholder {
    color: #fff;
}

#reservation-form input[type=text]:focus::-webkit-input-placeholder {
    color: transparent
}

#reservation-form input[type=text]:focus::-moz-placeholder {
    color: transparent
}

#reservation-form input[type=text]:focus:-moz-placeholder {
    color: transparent
}

#reservation-form input[type=text]:focus:-ms-input-placeholder {
    color: transparent
}

.form {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.owl-dot.active {
    background: #ffa60a;
}

.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #ccc;
    background: #333;
    margin-right: 5px;
    display: inline-block; /*for making them horizontal, if you want vertical then you can use- display: block*/
}

.owl-dots {
    margin: 0 auto /*for centering the dots*/
}

.menu {
    padding-top: 30px;
    margin-top: 100px;
    text-align: left;
    background: url(../images/menu-back.png);
}

.price div {
    height: 1.2em;
}

.price .left, .right {
    font-weight: bolder;
    float: right;
}

.price .left {
    float: left;
    clear: both;
}

.price .dotted {
    border-bottom: 1px dotted grey;
    margin-bottom: 2px;
}

.price-color {
    color: #ff7d23;
}

.menu .menu-item .description {
    margin-top: 10px;

}

.dish {
    margin-top: 20px;
}

.item {
    padding: 10px;
}

.button {
    margin-top: 20px;
}

.button a {
    background-color: #ff210d;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    text-decoration: none;

}

.button a:hover {
    background-color: #ff653f;

}

.about-us {

}

.image-ab-us {
    margin: 0 auto;
    width: 130px;
}

.description-ab-us {
    color: #808080;
}

.news-title {
    font-weight: bolder;
    font-size: 18px;
}

.news-date {
    color: #707070;
    text-transform: uppercase;
}

.news-date a {
    color: #ff210d;
}

.news-text {
    color: #a5a5a5;

}

.news-item-right, .news-item-left {
    margin-top: 30px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.pagination > li > a, .pagination > li > span {
    margin-left: 10px;
    color: #909090;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #ff210d;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ff210d;

}

.contact-item {
    height: 200px;
    background-color: #f8f8f8;
    margin-right: 15px;
    border: 1px solid #dbdbdb;
    padding: 10px;
    text-align: center;
}

.title-contact {
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
}

.contact-info {
    color: #909090;

}

#map {
    height: 300px;
    position: relative;
    bottom: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
    background-color: #f5f5f5;
}

.contacts {
    margin-top: 50px;
}

.receipts {
    min-height: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
    background: url("../images/wall-back.jpg") center center no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
}

.title-receipts {
    color: white;
}

.custom-title:before,
.custom-title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    margin-right: 10px;
    margin-left: 10px;

    height: 6px;
    border-bottom: 2px solid #ff0000;
    border-top: 2px solid #ff0000;
}

.custom-title:before {
    margin-left: -100%;
}

.custom-title:after {
    margin-right: -100%;
}

.receipts-item {
    background-color: white;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.dish-type {
    padding: 10px;
    background-color: white;
    height: 186px;
    display: table;
}

.dish-type div {
    border: 1px solid gainsboro;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.dish-type div h2{
    margin-top: 0px;
}

.gray-text {
    color: grey;
    text-transform: uppercase;
}

.black {
    background-color: #363636;
    color: white;
}