body, html {
    height: 100%;

}

body > .container-fluid {
    padding: 0;
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: #000;
}

.navbar a {
    color: white;
}

.nav > li > a:hover {
    background-color: inherit;
}

.input-navbar {
    margin-top: 13px;
    background-color: black;
    border: 1px solid white;
    margin-left: 40px;
}

.image-center {
    margin: 0 auto;
}

.meet-our-chef img {
    width: 150px;
}

.meet-text {
    margin-bottom: 50px;
    margin-top: 20px;
    color: #808080;
}

.chef-name {
    color: #000000;
    margin-top: 20px;

}

.chef-skill {
    color: #f56e50;

}

#chefs {
    padding-top: 40px;

}

.chefs {
    text-align: center;
    margin-top: 40px;
}

.chef-social-network {
    margin-top: 10px;
    color: #969696;
}

.chef-social-network span:hover {
    color: dodgerblue;
}

.reservation {
    margin-top: 100px;
}

#reservation-form {
    height: 521px;
    border: 1px solid black;
    background: url(../images/form.jpg) center center fixed no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
    display: table;
}

#reservation-form input[type=text] {
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid white;
    background-color: inherit;
}

#reservation-form textarea {
    border-radius: 0;
    border: 1px solid white;
    background-color: inherit;
}

#reservation-form input[type=text]::-webkit-input-placeholder {
    color: #fff;
}

#reservation-form input[type=text]::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
#reservation-form input[type=text]:-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
#reservation-form input[type=text]:-ms-input-placeholder {
    color: #fff;
}

#reservation-form input[type=text]:focus::-webkit-input-placeholder {
    color: transparent
}

#reservation-form input[type=text]:focus::-moz-placeholder {
    color: transparent
}

#reservation-form input[type=text]:focus:-moz-placeholder {
    color: transparent
}

#reservation-form input[type=text]:focus:-ms-input-placeholder {
    color: transparent
}

.form {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.owl-dot.active {
    background: #ffa60a;
}

.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #ccc;
    background: #333;
    margin-right: 5px;
    display: inline-block; /*for making them horizontal, if you want vertical then you can use- display: block*/
}

.owl-dots {
    margin: 0 auto /*for centering the dots*/
}

.menu {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: left;
}

.price div {
    height: 1.2em;
}

.price .left, .right {
    font-weight: bolder;
    float: right;
}

.price .left {
    float: left;
    clear: both;
}

.price .dotted {
    border-bottom: 1px dotted grey;
    margin-bottom: 2px;
}

.price-color {
    color: #ff7d23;
}

.menu .menu-item .description {
    margin-top: 10px;

}

.dish {
    margin-top: 20px;
}

.item {
    padding: 10px;
}

.button {
    margin-top: 20px;
}

.button a {
    background-color: #ff210d;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    text-decoration: none;

}

.button a:hover {
    background-color: #ff653f;

}

.about-us {
    padding-top: 70px;
}

.image-ab-us {
    margin: 0 auto;
    width: 130px;
}

.description-ab-us {
    color: #808080;
}

.news-title {
    font-weight: bolder;
    font-size: 18px;
}

.news-date {
    color: #707070;
    text-transform: uppercase;
}

.news-date a {
    color: #ff210d;
}

.news-text {
    color: #a5a5a5;

}

.news-item-right, .news-item-left {
    margin-top: 30px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.pagination > li > a, .pagination > li > span {
    margin-left: 10px;
    color: #909090;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #ff210d;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ff210d;

}
.contact-item > div{
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #dbdbdb;

}
.contact-item {
    padding: 10px;
    text-align: center;
}

.title-contact {
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
}

.contact-info {
    color: #909090;

}

#map {
    height: 100%;
    position: relative;
}

#footer {
    height: 100%;
    margin-top: 70px;
    background-color: #f5f5f5;
}

.contacts {
}

.receipts {
    min-height: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 40px;
    background: url("../images/wall-back.jpg") center center no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
}

.title-receipts {
    margin-bottom: 40px;
    color: white;
}

.custom-title:before,
.custom-title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    margin-right: 10px;
    margin-left: 10px;

    height: 6px;
    border-bottom: 2px solid #ff0000;
    border-top: 2px solid #ff0000;
}

.custom-title:before {
    margin-left: -100%;
}

.custom-title:after {
    margin-right: -100%;
}

.receipts-item {
    background-color: white;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.dish-type {
    padding: 10px;
    background-color: white;
    display: table;
}

.dish-type div {
    border: 1px solid gainsboro;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.dish-type div h2 {
    margin-top: 0px;
}

.gray-text {
    color: grey;
    text-transform: uppercase;
}

.black {
    background-color: #363636;
    color: white;
}

.mosaicflow__column {
    float: left;
}

.mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto;
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 5px #aaa;
    cursor: default;
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view a.info {
    background: url(../images/link.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.img-responsive {
    max-height: 100%;
    width: auto;
}

.eq-height {
    height: 185px;
}

.header-box {
    background: url(../images/head-first.jpg) center center fixed no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
    height: 100%;
    margin-top: 50px;
}

.full-height {
    height: 100%;
}

.reservation-block {
    height: 521px;
}

.reservation-left {
    background: url(../images/reservation.png) center center  no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
}

.header-text {
    top: 29%;
    font-size: 19px;
    font-weight: bolder;
    position: absolute;
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.icon-bar{
    background-color: white;
}
@media screen and (max-width: 767px ){
    .header-text {
        font-size: 14px;
    }
}

.menu-item {
    padding-right: 15px;
    padding-left: 15px;
}